<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/css/home_Style.css" />
  </head>
  <body>

    <div class="page1">
    
      <img src="/Untitled-1.png" alt="" width="200px" height="150px">
      <div class="c1"><div class="c11">One Step to Making a Good Start</div><br>
      <div class="c2">Welcome to Restaurant, where culinary excellence meets an inviting ambiance. Indulge in our exquisite dishes crafted with the finest ingredients, ensuring a delightful dining experience.</div>
    </div>
      
    </div>
    <div class="page2">
      <div class="a">Events of Healthy Food</div>
      <div class="container">
        <div class="item">
          <h1 style="text-align: center;">2</h1>
          <p style="text-align: center;">February<br>
            Heavenly Hash Day<br>
            This day honors a dessert that combines marshmallows, nuts, chocolate, and other sweet delights into a heavenly mix. People enjoy this day by indulging in different forms of Heavenly Hash, including candy, ice cream, and fruit salads. The variety and versatility of this treat make it a favorite for many</p>
          <p></p>
        </div>
        <div class="item">
          <h1 style="text-align: center;">25</h1>
          <p style="text-align: center;">April <br>
            National Zucchini Bread Day <br>
            Many explorers who came to the Americas brought back what they considered strange foods, including the zucchini. The zucchini eventually found its way to Italy, where it was named zucchino. Native Americans referred to zucchini as "something eaten raw." However, we all know that zucchini tastes best cooked, especially in bread.</p>
          <p></p>
        </div>
        <div class="item">
          <h1 style="text-align: center;">15</h1>
          <p style="text-align: center;">May<br>
            National Chocolate chip Day<br>
            In 1937, Ruth Graves Wakefield of Whitman Massachusetts must have been curious about what a little bit of chocolate would add to her cookies. While working at the Toll House Inn, she added cut-up chunks of a semi-sweet Nestle chocolate bar to a cookie recipe. The cookies were a huge success and in 1939 Wakefield signed an agreement with Nestle to add her recipe to the chocolate bar’s packaging. In exchange for the recipe, Wakefield received a lifetime supply of chocolate. The Nestle brand Toll House cookies were named for the Inn.</p>
        

        </div>
        
      </div>
    </div>
  </body>
</html>
