* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
  }
  body{
    background-color: black;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }
  .container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
    background: transparent;
  }
  body{
    position: relative;
  }
  /* .img1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */
  .h {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: aliceblue;
    font-size: 50px;
    font-weight: 600;
  }
  .form-box {
    background: transparent;
    width: 350px;
    /* padding: 20px; */
    text-align: center;
    border: 5px solid wheat;
    border-radius: 10px;
    box-shadow: 5px 5px 6px 5px #cbcbcb87;
    height: 400px;
    z-index: 1;
  }
  .l1{
    color: white;
    padding-left: 10px;
    font-size: 18px; 
  }
  .f1{
    border: none;
    background: transparent;
    border-bottom: 5px solid white;
    color: wheat;


  }
  .f1:focus{
    border: none;
    border-bottom: 5px solid white;
  }
  button {
    width: 100%;
    height: 40px;
    background-color: #efca7a;
    border: none;
    border-radius: 3px;
  }
  .data {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    font-size: 18px;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border: 1px solid;
    padding-left: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  input:focus {
    border: 2px solid cornflowerblue;
    box-shadow: 2px 2px 5px #3333;
  }
  button {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  
  }
  form{
      display: flex;
      flex-direction: column;
      gap: 10px;

  }
  @media(max-width:600px){
    .form-box{
      width: 280px;
    }
    .l1{
      font-size: 15px;
    }
    .h{
      font-size: 40px;
    }


  }